/* Filename: StyleSheet.css
 *
 * Purpose: CSS file for style sheets
 *
 * Created by: George Bi»ôoc (GeoB99)
 *
*/

html, body {
    margin: 0;
    padding: 0;
    background-color: #36393f;
    color: #ffffff;
    font-family: Tahoma, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
    margin-top: 6px;
}

/* footer and Header-Top entities are for the main home page */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}

#Header-Top {
    background-image: url("images/Homepage-pic.png");
    background-size: cover;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    margin-bottom: -8px;
    text-align: center;
    color: #ffffff;
    text-shadow: 5px 5px black;
}

code {
    font-family: Consolas, "Courier New";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
}

hr#thick {
    border-width: 3px;
}

div {
    line-height: 20px;
    margin: 11px;
    text-align: justify;
    color: #ffffff;
    border-radius: 5px;
    padding: 11px;
}

pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial;
}

pre#prototype {
    border-style: solid;
    border-width: 3px;
    border-color: #D3D3D3;
    background-color: #F2F2F2;
    color: black;
    font-size: 12pt;
    vertical-align: top;
    margin-left: 0.5in;
    margin-right: 1in;
}

p {
   padding-left: 11px;
   padding-right: 11px;
}

a {
   color: #faebd7;
}

a:visited {
   color: #b0c4de;
}

a:hover {
   color: #ff0000;
}

table {
    border-collapse: collapse;
    width: 65%;
    margin-left: 14px;
    font-family: Tahoma, Helvetica, sans-serif;
}

td, th {
    text-align: left;
    padding: 10px;
    border: 4px solid #dddddd;
}

ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 11px;
}

ul.tree li {
    margin: 10px;
    padding: 0 7px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    border-left: 1px solid rgb(255, 255, 255);
}

ul.tree li:last-child {
    border-left: none;
}

ul.tree li:before {
    position: relative;
    top: -0.3em;
    height: 1em;
    width: 12px;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    content: "";
    display: inline-block;
    left: -7px;
}

ul.tree li:last-child:before {
    border-left: 1px solid rgb(255, 255, 255);
}
