{{ partial "header.html" . }}

<div id="Header-Top">
    <h1>GeoB99's Homepage</h1>
    <br>
    <h2>Welcome!</h2>
 </div>

 <!-- Add a separator -->
 <hr id="thick">
 <br>

 <div>
    <h2>&nbsp;<u>Introduction</u></h2>

    <p>
       Hello! I'm a 22 years old guy living in Italy whom goes by the nickname as GeoB99 around the Internet (formerly I was known as Fraizeraust). I'm a self-taught coder with C being the programming language of interest
       and choice for me, but I also have some bits of expertise in C++, Lua (a scripting language) and web development languages (HTML and CSS). I'm also a multilingual person which I speak
       the following languages: English, Italian and Romanian (whose third language being my mother tongue).

       Apart from coding I do also have several hobbies such as listening to music and whatnot. As main education I studied automotive engineering and worked as an automotive technician. As my current career I work as a
       CNC machinist whose my job is to operate CNC machines for the production of heating elements thorough the analysis and execution of technical drawing sketches.
    </p>

    <h2>&nbsp;<u>Work & Contributions</u></h2>

    <p>
       The first contribution I've made in terms of coding is writing some scripts written in the Lua language for a 2D top-down shooter game called CS2D in 2015. At that time I began dwelling
       and exploring the realm of coding. I programmed the first simple software in C, a CLI (Command Line Interface) calculator.
    </p>

    <p>
       In 2017 I discovered a project going by the name as ReactOS and in the same year I contributed for the first time translating some built-in software programs of the project in Romanian and
       Italian. Later on I began learning how to use the Windows API, understanding the inner architecture and internals of Windows Server 2003 and whatnot. I've been a maintainer for a little while
       for On-Screen Keyboard and developed a built-in program for the project for the first time -- the <a href="https://github.com/reactos/reactos/tree/master/base/applications/utilman">Accessibility Utility Manager</a>.
       Currently my main area of interest is NT kernel development and NTDLL APITESTs testcases infrastructure. Speaking of which, I publish tutorial articles regarding NT kernel development internals.
       You can find my commit contributions <a href = "https://github.com/reactos/reactos/commits?author=GeoB99">in this page</a>.
    </p>

    <h1>&nbsp;<u>Contact</u></h1>

    <p>
       You can reach me via E-mail, <b>fraizeraust99 (at) gmail (dot) com</b> or via Matrix, <b>@fraizeraust:reactos.org</b>. I'll make sure to answer your mails/replies in time but in case I can't, please be patient as I'm busy with my real life stuff.
       I reserve the right to block anyone who spams me useless crap so be wise what you're trying to post to me.
    </p>

    <h3>&nbsp;<u>Miscellaneous sites</u></h3>

    <!-- Move with a newline so the border of the table won't touch the underlined header subtitle -->
    <br>

    <table>
       <tr>
          <th>Link</th>
          <th>Description</th>
       </tr>

       <tr>
          <th><a href="{{$.Site.BaseURL}}/ros-tutorials/">ReactOS Tutorials</a></th>
          <th>Section for hosting tutorials and other articles</th>
       </tr>

       <tr>
          <th><a href="{{$.Site.BaseURL}}/pages/doc/documentation.html">ReactOS Tutorials Documentation</a></th>
          <th>A small knowledge base of documentation internals of Windows</th>
       </tr>

       <tr>
          <th><a href = "https://cernodile.com/reactos/archive">ReactOS Testing Contest Archive</a></th>
          <th>Testing contest archive repository (courtesy of Cernodile for hosting it)</th>
       </tr>
    </table>
 </div>

{{ partial "footer.html" . }}